@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Role</h1>

<br />
<br />

<form asp-action="Create">


    <partial name="PartialViews/CreateEditRolePartialView" />

    <input type="submit" value="Submit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-dark">Back To List</a>
</form>

@section validationScriptSection {
    @*PartialView for Client Side Validation*@
    <partial name="_ValidationScriptsPartial" />
}

